<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}" style="text-decoration: none; color: inherit;">
<pre style="font-family: monospace;">
           ____                 _          _ 
 _ __ ___ / ___|  ___ _ __ __ _| |__   ___(_)
| '_ ` _ \\___ \ / _ \ '__/ _` | '_ \ / _ \ |
| | | | | |___) |  __/ | | (_| | | | |  __/ |
|_| |_| |_|____/ \___|_|  \__, |_| |_|\___|_|
                          |___/
</pre>
        </a>
        <hr>
      </header>
    </div>
	
  <div class="sidebar">
  <h2>Notes</h2>
  <nav>
    {% assign pages = site.pages | sort: "title" %}
    {% for p in pages %}
      {% if p.title %}
        <a href="{{ p.url | relative_url }}">
          {{ p.title }}
        </a>
      {% endif %}
    {% endfor %}
  </nav>
  </div>
<hr>
  <div class="content">
    {{ content }}
  </div>
  
  
        <footer>

      </footer>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
