<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
     <meta charset="UTF-8">
     <title>{{ page.title }}</title>
     <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}" style="text-decoration: none; color: inherit;">
<pre style="font-family: monospace;">
           ____                 _          _ 
 _ __ ___ / ___|  ___ _ __ __ _| |__   ___(_)
| '_ ` _ \\___ \ / _ \ '__/ _` | '_ \ / _ \ |
| | | | | |___) |  __/ | | (_| | | | |  __/ |
|_| |_| |_|____/ \___|_|  \__, |_| |_|\___|_|
                          |___/
</pre>
        </a>
        <hr>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
